:root {
    --color-primary: #202B2D;
    --color-secondary: #FAA407;
    --color-tertiary: #8B9494;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
    line-height: 1.5;
    transition: 300ms ease;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main[id="main"] {
    flex: 1;
}

footer[id="footer"] {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

footer[id="footer"] a {
    color: var(--color-primary);
}
footer[id="footer"] a:hover {
    color: var(--color-tertiary);

}

.footer-column {
    padding: 1.25rem;
    min-width: 12.5rem;
}

section[id="footer-main"] {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}


h2[class="footer-title"] {
    color:var(--color-primary);
    font-size: 1.375rem;
    padding-bottom:  0.625rem;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 480px) {
    section[id="footer-main"]{
        justify-content: space-around;
    }  
}

@media only screen and (min-width: 1024px){
    section[id="footer-main"] {
        justify-content: space-evenly;
    }

}

/* SIGN UP AREA */
form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"]{
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

/* SOCIAL MEDIA SECTION */
section[id="footer-socials"]{
    padding: 0 1.875rem 1.25rem;
}

ul[class="footer-icons"] {
    display: flex;
    justify-content: center;
    border-top: 1px var(--color-primary)solid;
    padding-top: 1.25rem;
}

ul[class="footer-icons"] li {
    margin: 0.5rem;
}

/* LEGAL SECTION */
section[id="footer-legal"] a {
    color: var(--color-secondary);
}

section[id="footer-legal"] {
    padding: 0.9375rem 1.875rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    
}

ul[class="footer-legal-items"] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul[class="footer-legal-items"] li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;   
}

.footer-legal-items li:nth-of-type(2) {
    flex: 1;
}


